{% extends "base.html" %}

{% block title %}PDF Tools{% endblock %}

{% block content %}
    <script type="module" src="/static/js/pdf-tools-inspect.js"></script>
    <h1>PDF Tools</h1>
    <p>Convert a PDF to text or images, or merge multiple PDFs into one.</p>
    <form method="post" 
    action="/tools/pdf_tools"
    enctype="multipart/form-data">
        <label for="files">Choose PDF files to upload:</label>
            <input type="file" name="files" accept="application/pdf" multiple>
        </label>
        <button type="submit">Upload Files</button>
    </form>
    <div id="pdf-info"></div>

{% endblock %}